
body {
  margin-left:10px;
  margin-top: 0px;
  padding: 0;
}

header .one
{
 background-image: url('../images/banner-bg.jpg');
 border: 2px white solid;
 border-bottom-left-radius: 120px;
 border-bottom-right-radius: 120px;
 height: 800px;
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 overflow: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  width: 90%;
}

li {
  display: inline-block;
  margin-right: 30px;
  color: white;
  padding: 10px 25px;
   border-radius: 20px;
   transition: background-color 0.3s ease-in-out;
   font-weight: 100;
   letter-spacing: 0.1em;
}

.one ul li:nth-child(n+2):nth-child(-n+5):hover {
  background-color: rgba(255, 255, 255, 0.2);
 
}
.d {
  margin-right: auto; 
  padding: 0;
}
.d img {
  height: 50px;
  display: block;
}

li a {
  color: white;
  text-decoration: none;
  word-spacing: 0.1em;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  padding: 10px 25px;
  border-radius: 20px;
  
}

li a:hover {
  background-color: #ff6908;
  transform: translateY(-2px);
}

section{
  display: flex;
}